<div class='page-header'>
  <h1> Search Results </h1>
</div>
<div class='row'>
  </div class='col-md-8'>
    <% unless @results.any? %>
      <p> No results matched your search </p>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <li><%= link_to result.content, result.searchable %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
